<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:Server="http://www.rpc.com/schema/service"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.rpc.com/schema/service http://www.rpc.com/schema/service.xsd">

    <!-- 发布远程服务 -->
    <bean id="helloService" class="com.simple.rpc.framework.test.HelloServiceImpl"/>

    <Server:service id="helloServiceRegister"
                        interface="com.simple.rpc.framework.test.HelloService"
                        ref="helloService"
                        groupName="default"
                        weight="2"
                        appKey="ares"
                        workerThreads="100"
                        serverPort="8081"
                        timeout="600"/>


</beans>